<plugin name='hystrix-circuit-breaker' version='0.4' grailsVersion='2.3 &gt; *'>
  <title>Hystrix Circuit Breaker Plugin</title>
  <description>Hystrix is awesome, this is an attempt to make it easy to use for a Grails application</description>
  <documentation>http://grails.org/plugin/hystrix-circuit-breaker</documentation>
  <type>HystrixCircuitBreakerGrailsPlugin</type>
  <resources>
    <resource>HystrixCircuitBreakerPluginResources</resource>
    <resource>hystrix.circuit.breaker.HystrixMonitorController</resource>
    <resource>com.neidetcher.hcbp.HystrixService</resource>
  </resources>
</plugin>
